| title:
br
input(type='text', id='name', required)
br
|   Start date:
br
input(type='date', id='startdate')
br
|   Start time:
br
input(type='time', id='starttime')
br
|   end date:
br
input(type='date', id='enddate')
br
|   end time:
br
input(type='time', id='endtime')
br
|   place:
br
input(type='text', id='location', required)
br
|   notes:
br
input(type='text', id='notes')
br