| title:
br
input(type='text', id='Title', required)
br
|   Start date:
br
input(type='date', id='StartDate')
br
|   Start time:
br
input(type='time', id='StartTime')
br
|   end date:
br
input(type='date', id='EndDate')
br
|   end time:
br
input(type='time', id='EndTime')
br
|   place:
br
input(type='text', id='Place', required)
br
|   notes:
br
input(type='text', id='Notes')
br
script.
  //EventData Constructor: Represents the data in the event form.
  EventFormData = function(){
    this.table = 'event';
    this.eventID = 0;
    this.title = $('#Title').val();
    this.Start_Date = $('#StartDate').val();
    this.Start_Time = $('#StartTime').val();
    this.End_Date = $('#EndDate').val();
    this.End_Time = $('#EndTime').val();
    this.Location = $('#Place').val();
    this.Notes = $('#Notes').val();
  };
