.form-group
  label.col-sm-2.control-label(for='title') Event Title:
  | 
  .col-sm-4
    input#title.form-control(type='text', name='title', placeholder='Event Title')
| 
.form-group
  label.col-sm-2.control-label(for='startDate') Start Date:
  | 
  .col-sm-4
    input#startDate.form-control(type='date', name='startDate', required=true)
| 
.form-group
  label.col-sm-2.control-label(for='startTime') Start Time:
  | 
  .col-sm-4
    input#startTime.form-control(type='time', name='startTime')
| 
.form-group
  label.col-sm-2.control-label(for='endDate')
  | 
  .col-sm-4
    input#endDate.form-control(type='date', name='endDate', required=true)
| 
.form-group
  label.col-sm-2.control-label(for='endTime')
  | 
  .col-sm-4
    input#endTime.form-control(type='time', name='endTime', required=true)
| 
.form-group
  label.col-sm-2.control-label(for='location')
  | 
  .col-sm-4
    input#location.form-control(type='text', name='location', required=true)
| 
.form-group
  label.col-sm-2.control-label(for='notes')
  | 
  .col-sm-4
    input#notes.form-control(type='text', name='notes')
| 
