| title:
br
input(type='text', name='title', required=true)
br
|   Start date:
br
input(type='date', name='startDate', required=true)
br
|   Start time:
br
input(type='time', name='startTime')
br
|   end date:
br
input(type='date', name='endDate', required=true)
br
|   end time:
br
input(type='time', name='endTime')
br
|   place:
br
input(type='text', name='location', required=true)
br
|   notes:
br
input(type='text', name='notes')
br