| Title:
br
input(type='text', name='title')
br
|   Start date:
br
input(type='datetime-local', name='startdate')
br
|   end date:
br
input(type='datetime-local', name='enddate')
br
|   place:
br
input(type='text', name='place')
br
|   Notes:
br
input(type='text', name='notes')
br
