# Ignore Node Modules
node_modules
node_modules/*

# Ignore NPM Log
npm-debug.log

# Ignore .idea folder
.idea
.idea/*

# Ignore the DB file
usu-events.db

# Ignore bower_components
bower_components
bower_components/*
