extends layout

block content
  h1 About
  br
  br
  p 
    The USU Events App was created by a new student group on campus hackUSU. 
    | We were sick and tired of the many different scheduling apps on campus
    | so we built our own that combines them all. 
  p hackUSU is about learning new technologies, building awesome applications, 
    | and having fun. If you want to be a part of this awesome student group, check us out at 
    a(href="http://hackusu.org") hackUSU.org
