extends layout

block content
  .list-group
    a.list-group-item(href='#')
      .media
        .media-left
          i.fa.fa-calendar.fa-3x
        .media-body
          h4.media-heading.list-group-item-heading Event Heading
          p.list-group-item-text This is a brief and dull description.
    a.list-group-item(href='#')
      .media
        .media-left
          i.fa.fa-calendar.fa-3x
        .media-body
          h4.media-heading.list-group-item-heading Event Heading
          p.list-group-item-text This is a brief and dull description.
    a.list-group-item.inactive(href='#')
      .media
        .media-left
          i.fa.fa-calendar.fa-3x
        .media-body
          h4.media-heading.list-group-item-heading Event Heading
          p.list-group-item-text This is a brief and dull description.
    a.list-group-item.inactive(href='#')
      .media
        .media-left
          i.fa.fa-calendar.fa-3x
        .media-body
          h4.media-heading.list-group-item-heading Event Heading
          p.list-group-item-text This is a brief and dull description.
    a.list-group-item.inactive(href='#')
      .media
        .media-left
          i.fa.fa-calendar.fa-3x
        .media-body
          h4.media-heading.list-group-item-heading Event Heading
          p.list-group-item-text This is a brief and dull description.
    a.list-group-item.inactive(href='#')
      .media
        .media-left
          i.fa.fa-calendar.fa-3x
        .media-body
          h4.media-heading.list-group-item-heading Event Heading
          p.list-group-item-text This is a brief and dull description.
    a.list-group-item.inactive(href='#')
      .media
        .media-left
          i.fa.fa-calendar.fa-3x
        .media-body
          h4.media-heading.list-group-item-heading Event Heading
          p.list-group-item-text This is a brief and dull description.
    a.list-group-item.inactive(href='#')
      .media
        .media-left
          i.fa.fa-calendar.fa-3x
        .media-body
          h4.media-heading.list-group-item-heading Event Heading
          p.list-group-item-text This is a brief and dull description.
    a.list-group-item.inactive(href='#')
      .media
        .media-left
          i.fa.fa-calendar.fa-3x
        .media-body
          h4.media-heading.list-group-item-heading Event Heading
          p.list-group-item-text This is a brief and dull description.
    a.list-group-item.inactive(href='#')
      .media
        .media-left
          i.fa.fa-calendar.fa-3x
        .media-body
          h4.media-heading.list-group-item-heading Event Heading
          p.list-group-item-text This is a brief and dull description.
    a.list-group-item.inactive(href='#')
      .media
        .media-left
          i.fa.fa-calendar.fa-3x
        .media-body
          h4.media-heading.list-group-item-heading Event Heading
          p.list-group-item-text This is a brief and dull description.
    a.list-group-item.inactive(href='#')
      .media
        .media-left
          i.fa.fa-calendar.fa-3x
        .media-body
          h4.media-heading.list-group-item-heading Event Heading
          p.list-group-item-text This is a brief and dull description.
    a.list-group-item.inactive(href='#')
      .media
        .media-left
          i.fa.fa-calendar.fa-3x
        .media-body
          h4.media-heading.list-group-item-heading Event Heading
          p.list-group-item-text This is a brief and dull description.
