extends ../layout

block content
  h1 Users Listing
  p There will hopefully be a list of users here eventually.
  p This will more than likely be more of an administrative page.
  br
  div.container
    h2 Admin Controls
    a(href='user/new').btn.btn-primary Create New User
    table.table.table-striped.user-table
      thead
        tr
          th Username 
          th.user-table-actions Actions
      tbody
        tr
          td Dummy User 1
          td.user-table-actions
            a(href='user/edit').user-action-button.btn.btn-sm.btn-success Edit
            a(href='user/view').user-action-button.btn.btn-sm.btn-info View
            a(href='user/delete').user-action-button.btn.btn-sm.btn-danger Destroy
        tr
          td Dummy User 2
          td.user-table-actions 
            a(href='user/edit').user-action-button.btn.btn-sm.btn-success Edit
            a(href='user/view').user-action-button.btn.btn-sm.btn-info View
            a(href='user/delete').user-action-button.btn.btn-sm.btn-danger Destroy
          
