extends ../layout

block content
  h1 Users Listing
  p There will hopefully be a list of users here eventually.
  p This will more than likely be more of an administrative page.
  br
  div.container
    h2 Admin Controls
    a(href='user/new').btn.btn-default Create New User
    //-table.table.table-striped
      thead
        tr
          th Username
          th Actions
      tbody
        tr
          td 
        tr
          td 
            a(href='edit') Edit | 
            a(href='view') View | 
            a(href='destroy') Destroy | 
          
