extends ../layout

block content
  h1 Create your USU Events Account
  p There will hopefully be a form to create a new user here.
  form.form-horizontal.form(id='form',action='/user/new', method='POST')
    include ./includes/user-form.jade
    .form-group
      .col-sm-offset-2.col-sm-10
        button.btn.btn-default(type='reset') Clear
    .form-group
      .col-sm-offset-2.col-sm-10
        button.btn.btn-default(type='submit') Sign Up
