extends ..\layout

block content
  h1 View - User Profile
  p There will hopefully be a user profile by id here.
  div.container      
     h3 
     img(src='../default-profile.png', alt='This is your profile picture', width='150', height='150')
  p
     h2 Events I&apos;m Going To:
     table
       tr
         td
         |  
         td
         |  
         td
         |  
         td
     h2 Events I&apos;ve Created:
     table
       tr
         td
         |  
         td
         |  
         td
         |  
         td
