.form-group
  label.col-sm-2.control-label(for='firstname') First Name: 
  |           
  .col-sm-4
    input#firstname.form-control(type='text', name='firstname',placeholder='Enter First Name')
|         
.form-group
  label.col-sm-2.control-label(for='lastname') Last Name: 
  |           
  .col-sm-4
    input#lastname.form-control(type='text', name='lastname', placeholder='Enter Last Name')
|         
.form-group
  label.col-sm-2.control-label(for='email') Email: 
  |           
  .col-sm-4
    input#email.form-control(type='email', name='email', placeholder='Enter Email')
|         
.form-group
  label.col-sm-2.control-label(for='username') Username: 
  |           
  .col-sm-4
    input#username.form-control(type='text', name='username', placeholder='johndoe')
|         
.form-group
  label.col-sm-2.control-label(for='password') Password: 
  |           
  .col-sm-4
    input#password.form-control(type='password', name='password', placeholder='Password')
.form-group
  label.col-sm-2.control-label(for='confirmpassword') Password: 
  |           
  .col-sm-4
    input#confirmpassword.form-control(type='password', name='confirmpassword', placeholder='Confirm Password')
|         
.form-group
  label.col-sm-2.control-label(for='phone') Phone: 
  |           
  .col-sm-4
    input#phone.form-control(type='text', name='phone', placeholder='801-888-888')
|  
