| First name:
br
|     
input(type='text', name='firstname')
|     
br
|     Last name:
br
|     
input(type='text', name='lastname')
|     
br
|     User name:
br
|     
input(type='text', name='username', required=true)
|     
br
|     Password:
br
|     
input(type='password', name='password', required=true)
|     
br
|     Confirm Password:
br
|     
input(type='password', name='confirmpassword', required=true)
|     
br
|     Mobile Phone:
br
|     
input(type='text', name='phone')
|     
br
|     Email Address:
br
|     
input(type='text', name='email')
|     
br
