| First name:
br
|     
input(type='text', id='firstname')
|     
br
|     Last name:
br
|     
input(type='text', id='lastname')
|     
br
|     User name:
br
|     
input(type='text', id='username')
|     
br
|     Password:
br
|     
input(type='password', id='password')
|     
br
|     Confirm Password:
br
|     
input(type='password', id='confirmpassword')
|     
br
|     Mobile Phone:
br
|     
input(type='text', id='phone')
|     
br
|     Email Address:
br
|     
input(type='text', id='email')
|     
br
