body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#new-user-button {
  float: right;
}

  #new-user-button:after {
    clear: both;
  }

.user-table-actions {
  text-align: right;
}

.user-table {
  padding: 20px;
}

.user-action-button {
  margin: 5px 10px 10px 0px;
}
