body {
  padding: 50px 10px 0px 10px;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  text-align: center;
}

form {
  max-width: 700px;
  padding: 5px;
  margin: 0 auto;
}

.navbar {
  background-color: #193441;
  color: #e2e2e2;
}

.navbar-inverse .navbar-toggle {
  border-color: #e2e2e2;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background-color: #193441;
}

.navbar-brand {

}

.navbar-brand img {
  height: 30px;
  width: auto;
}

.fa-icon {
  padding-right: 8px;
}
