extends ../layout

block content
  h1 Edit - Change An Event
  form(id='form',action='')
    include ./includes/event-form.jade
    input(type='reset', value='Clear')
    input(type='submit', value='Update')
  script.
    //Wait for document to load.
    $(document).ready(function(){
      //Once form is submitted an thisEventData (EventData) is created.
      $('#form').submit(function(){
        var thisEventData = new EventData();
        //POST call; Sends thisEventData and alerts that an event was created.
        $.post('/event/edit', {eventFormData: thisEventData}, function(data){
          alert("Event updated!");
        });
      });
    });
