extends ../layout

block content
  h1 Post an event
  form(id='form',action='')
    include ./includes/event-form.jade
    input(type='reset', value ='Clear')
    input(type='submit', value='Submit')
  script.
    //Wait for document to load.
    $(document).ready(function(){
    //Once form is submitted an EventData (thisEventData) constructor is created.
      $('#form').submit(function(){
        var thisEventData = new EventFormData();
        //POST call; Sends thisEventData and alerts that an event was created.
        $.post('/event/new', {eventFormData: thisEventData}, function(data){
          alert("Event created!");
        });
      });
    });
