extends ../layout

block content
  h1 Create a New Event
  form(id='form',action='/event/new', method='POST').form-horizontal
    include ./includes/event-form.jade
    .form-group
      .col-sm-offset-2.col-sm-10
        button.btn.btn-primary(type='submit') Create Event
