extends ..\layout

block content
  h1 Post an event
  form(id='form',action='')
    include ./includes/event-form.jade
    input(type='reset', value ='Clear')
    input(type='submit', value='Submit')
  script.
    $(document).ready(function(){
      $('#form').submit(function(){
        var thisEventData = new EventData();
        $.post('/event/new', {eventData: thisEventData}, function(data){
          alert("Event created!");
        });
      });
    });
